<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulação Tempo Real</title>
    <link rel="stylesheet" href="utils/template.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script src="utils/template.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="nav">
          <a
            href="https://otaviofbrito.github.io/Network-Simulation/report.html"
          >
          < Simulação Pt. 1 </a
          >
        </div>
        <h1>Simulação via Eventos Discretos</h1>
        <p class="subtitle">Discrete Time Event Simulation</p>
      </header>
      <div class="section">
        <h2>Simulação de Rede Pt. 2 (Navegação na Web + Chamada em Tempo Real)</h2>
        <p>
          Para simular um roteador recebendo pacotes de navegação web, a
          simulação envolve a chegada de pacotes seguindo uma
          <b>distribuição exponencial</b>, semelhante à fila
          <a
            href="https://otaviofbrito.github.io/discrete-time-event-simulation/report.html"
            target="_blank"
            >M/M/1</a
          >. No entanto, o tempo médio de atendimento é calculado com base nos
          tamanhos dos pacotes que chegam (\(L\)) em <b>bytes</b> e na
          capacidade de atendimento do link (\(R\)) em <b>bytes/s</b>, seguindo
          a fórmula: $$t_{atendimento} =\frac{L}{R}$$.
        </p>
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h2>Cenário</h2>
        <p>
          No cenário simulado, utilizou-se a taxa de chegada dos pacotes
          (\(\lambda\)) como
          <b>100 pacotes/segundo</b>, e a geração dos pacotes teve o objetivo de
          simular um comportamento de navegação na web, seguindo as seguintes
          proporções:
        </p>

        <ul>
          <li>50% dos pacotes têm tamanho de <b>550 bytes</b></li>
          <li>40% dos pacotes têm tamanho de <b>40 bytes</b></li>
          <li>10% dos pacotes têm tamanho de <b>1500 bytes</b></li>
        </ul>
        <p>
          Foi utilizado uma
          <a
            href="https://github.com/otaviofbrito/Network-Simulation/blob/074190374e4b81c0ab2a8430abbdc45445bedef5/c_project/include/metrics.c#L55C5-L55C17"
            target="_blank"
            >função aleatória ponderada</a
          >
          para a geração dos pacotes conforme as proporções descritas:
        </p>
        <script src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2Fotaviofbrito%2FNetwork-Simulation%2Fblob%2F21133291a92cfe114a1957cae289e63a558d048a%2Fc_project%2Finclude%2Fmetrics.c%23L55-L74&style=github&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>

        <div>
          <h3>Tamanho Médio dos Pacotes (\(L\))</h3>
          <p>
            O tamanho médio dos pacotes pode ser calculado com base nas
            proporções fornecidas: $$L = (0.5 \times 550) + (0.4 \times 40) +
            (0.1 \times 1500)$$ $$L = 441 \ \text{bytes}$$
          </p>
        </div>

        <div>
          <h3>Ocupação</h3>
          <p>
            <b>Restrição imposta:</b><br />
            A ocupação do link deve obedecer os seguintes cenários:
          </p>
          <ul class="inline">
            <li>\(\rho_1\) = 60%</li>
            <li>\(\rho_2\) = 80%</li>
            <li>\(\rho_3\) = 95%</li>
            <li>\(\rho_4\) = 99%</li>
          </ul>
          <p>
            Assim, devemos calcular o tamanho do link (\(R\)) previamente para
            que ao final da execução esses cenários sejam satisfeitos.
          </p>
        </div>

        <div>
          <h3>Tamanho do Link (\(R\))</h3>
          <p>
            A fórmula da utilização é dada por: $$\rho = \frac{\lambda}{\mu}$$
            $$\text{Tempo médio de atendimento} = \frac{1}{\mu} = \frac{L}{R}$$
            Manipulando a fórmula da utilização: $$\mu = \frac{\lambda}{\rho}$$
            $$\frac{1}{\mu} = \frac{\rho}{\lambda}$$ Substituindo \(1/\mu\) por
            \(L/R\): $$\frac{\rho}{\lambda}= \frac{L}{R}$$ Portanto, o tamanho
            do link em <b>bytes/segundo</b> pode ser calculado como:
          </p>
          <p class="tex_result">$$R = \frac{L \cdot \lambda}{\rho}$$</p>
        </div>

        <div>
          <h3>Cálculo da Capacidade do Link para as Diversas Ocupações</h3>
          <p>
            Com a fórmula obtida, podemos calcular a capacidade do link
            previamente para diferentes ocupações.
          </p>
          <div>
            Temos que:
            <ul>
              <li>\(\lambda = 100 \ \text{pcts/s}\)</li>
              <li>\(L_{médio} = 441\ \text{bytes}\)</li>
              <li>\(\rho = \{0.6, 0.8, 0.95, 0.99\}\)</li>
            </ul>
          </div>
          <ol>
            <li>
              60% de ocupação: $$R_{60\%} = \frac{441 \cdot 100}{0.6} = 73500 \
              \text{bytes/s}$$
            </li>
            <li>
              80% de ocupação: $$R_{80\%} = \frac{441 \cdot 100}{0.8} = 55125 \
              \text{bytes/s}$$
            </li>
            <li>
              95% de ocupação: $$R_{95\%} = \frac{441 \cdot 100}{0.95} \approx
              46421 \ \text{bytes/s}$$
            </li>
            <li>
              99% de ocupação: $$R_{99\%} = \frac{441 \cdot 100}{0.99} \approx
              44545 \ \text{bytes/s}$$
            </li>
          </ol>
        </div>
      </div>
      <div class="section">
        <h3>Resultado das Simulações</h3>
        {{ fig1|safe }}
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h2>Medidas de Desempenho</h2>
        <p>
          A seguir foram calculadas medidas de desempenho com base em cada
          simulação realizada, cada gráfico conta com uma legenda onde estão
          classificadas as simulações e seus respectivos parâmetros de execução:
        </p>
        <ul>
          <li>
            <b
              >P1: Taxa de chegada de pacotes(pcts/s), P2: Tamanho do
              link(bytes/s)</b
            >
          </li>
          <li><b>Semente aleatória = 100</b></li>
          <li><b>Tempo de simulação = 100.000 segundos</b></li>
        </ul>

        Em algumas medidas, existem campos que podem ser utilzados para validar
        o desempenho do sistema.
        *Clique nas legendas para ocultar os gráficos para uma melhor visualização
        <h3>1. Utilização/Ocupação (\(\rho\))</h3>

        {{ fig2|safe }}
        <div>
          <h3>Validação da utilização</h3>
          <div>
            A utilização é dada por: $$\rho = \frac{\lambda}{\mu} $$ Sabendo que
            o tempo médio de serviço(atraso de transmissão do roteador) é
            definido por \(L/R\), podemos substituir \(1/\mu\): $$\frac{1}{\mu}=
            \frac{L}{R} $$ Desse modo, a fórmula da utilização pode ser
            representada da seguinte maneira:
            <p class="tex_result">$$\rho = \frac{\lambda \cdot L}{R}$$</p>
          </div>
        </div>
        <p>Calcule \(\rho\) através da equação obtida:</p>
        <div class="validate">
          <div class="left_params">
            <div class="input">
              <label for="ocup_lambda"> \(\lambda\):</label>
              <input
                type="number"
                id="ocup_lambda"
                placeholder="pcts/s"
                value="100"
                min="0"
                step="0.05"
              />
            </div>

            <div class="input">
              <label for="ocup_l"> \(L\):</label>
              <input
                type="number"
                id="ocup_l"
                placeholder="bytes"
                value="441"
                min="0"
                step="1"
              />
            </div>

            <div class="input">
              <label for="ocup_r"> \(R\):</label>
              <input
                type="number"
                id="ocup_r"
                placeholder="(bytes/s)"
                value="73500"
                min="0"
                step="0.1"
              />
            </div>
          </div>

          <div class="calc">
            <div class="conta">
              <p>$$\rho = \frac{\lambda \cdot L}{R}$$</p>
              <p id="ocup_res"></p>
            </div>
            <button onclick="calcular_rho()">Calcular</button>
          </div>
        </div>
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>
          3. Média de elementos no sistema (\(E[N]\)) & Tempo médio de espera
          (\(E[W]\))
        </h3>
        {{ fig3|safe }}
        {{ figx|safe }}
        {{ figy|safe }}
        <div>
          <h3>Validação \(E[N]\) e \(E[W]\)</h3>
          <div>
            <p>
              Como discutido no
              <a
                href="https://otaviofbrito.github.io/discrete-time-event-simulation/report.html#en_ew"
                target="_blank"
                >artigo anterior</a
              >, sabemos que \(E[N]\) e \(E[W]\) podem ser representados por:
              $$E[N] = \frac{\rho}{1-\rho} \ \ \ \ \ E[W] = \frac{1}{\mu -
              \lambda}$$
            </p>
            <p>
              Vamos calcular \(E[W]\) tendo como base a taxa de chegada dos
              pacotes \((\lambda)\), o tamanho médio do pacote \((L)\) e o
              tamanho do link\((R)\).
            </p>
            <p>
              Substituindo \(\mu\) por \(R/L\) em \(E[W]\): $$E[W] =
              \frac{1}{\frac{R}{L} - \lambda}$$ $$E[W] = \frac{1}{\frac{R - L
              \cdot \lambda}{L}}$$ Portanto, o tempo médio de espera pode ser
              representado por:
            </p>

            <p class="tex_result">$$E[W] = \frac{L}{R - L \cdot \lambda}$$</p>
          </div>
        </div>

        <p>Calcule \(E[N]\) e \(E[W]\) através das fórmulas:</p>
        <div class="validate">
          <div class="left_params">
            <div class="input">
              <label for="e_rho"> \(\rho\):</label>
              <input
                type="number"
                id="e_rho"
                placeholder="ρ"
                value="0.6"
                min="0"
                step="0.05"
              />
            </div>

            <div class="input">
              <label for="e_lambda"> \(\lambda\):</label>
              <input
                type="number"
                id="e_lambda"
                placeholder="pcts/s"
                value="100"
                min="0"
                step="0.1"
              />
            </div>

            <div class="input">
              <label for="e_l"> \(L\):</label>
              <input
                type="number"
                id="e_l"
                placeholder="bytes"
                value="441"
                min="0"
                step="1"
              />
            </div>
            <div class="input">
              <label for="e_r"> \(R\):</label>
              <input
                type="number"
                id="e_r"
                placeholder="bytes/s"
                value="73500"
                min="0"
                step="0.1"
              />
            </div>
          </div>

          <div class="calc">
            <div class="conta">
              <p>$$E[N] = \frac{\rho}{1-\rho}$$</p>
              <p id="e_res"></p>
            </div>
            <button onclick="calcular_EN()">Calcular</button>
          </div>

          <div class="calc">
            <div class="conta">
              <p>$$E[W] = \frac{L}{R - L \cdot \lambda}$$</p>
              <p id="w_res"></p>
            </div>
            <button onclick="calcular_EW()">Calcular</button>
          </div>
        </div>
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>
          4. Taxa de chegada de elementos no sistema \(\left(\lambda\right)\) &
          Taxa de atendimento \(\left(\mu\right)\)
        </h3>
        <p>
          A taxa de chegada de elementos no sistema \((\lambda)\) é passada como
          parâmetro inicial e representa o inverso do tempo médio entre as
          chegadas dos pacotes. Já a taxa de atendimento (\(\mu\)) pode ser
          calculada como o inverso do tempo médio da atendimento ( ou atraso de
          transmissão - \(L/R)\).
        </p>
        <div class="rate">
          <p>$$\lambda = \frac{1}{\text{Tempo médio entre as chegadas}}$$</p>
          <p>$$\mu = \frac{R}{L}$$</p>
        </div>

        {{ fig4|safe }}

        <p>Calcule \(\mu\) através da equação obtida:</p>
        <div class="validate">
          <div class="left_params">
            <div class="input">
              <label for="mu_l"> \(L\):</label>
              <input
                type="number"
                id="mu_l"
                placeholder="bytes"
                value="441"
                min="0"
                step="1"
              />
            </div>

            <div class="input">
              <label for="mu_r"> \(R\):</label>
              <input
                type="number"
                id="mu_r"
                placeholder="(bytes/s)"
                value="73500"
                min="0"
                step="0.1"
              />
            </div>
          </div>

          <div class="calc">
            <div class="conta">
              <p>$$\mu = \frac{R}{L}$$</p>
              <p id="mu_res"></p>
            </div>
            <button onclick="calcular_mu()">Calcular</button>
          </div>
        </div>
        <hr class="stylized-line" />
        <div class="section">
          <h3>5. Erro de Little</h3>
          <p>Lei de Little: $$E[N] = \lambda \cdot E[W]$$</p>
          <p>
            $$\text{Erro de Little} = \left| E[N] - \lambda \cdot E[W] \right|$$
          </p>
          {{ fig5|safe }}
        </div>
        <hr class="stylized-line" />
        <div class="section">
          <h3>Referências</h3>
          <ol>
            <li>
              <p>
                ROSS, S. M., <em>Simulation</em>. 4ª ed. San Diego: Academic
                Press, 2006.
              </p>
            </li>
            <li>
              <p>
                ALLEN, Arnold O.
                <em
                  >Probability, statistics, and queueing theory: with computer
                  science applications</em
                >. 2. ed. San Diego: Academic Press, 1990.
              </p>
            </li>
          </ol>
        </div>

        <hr class="stylized-line" />

        <footer>
          <p>
            &copy; 2024 Otávio Brito &
            <a href="https://github.com/aliciagarnier" target="_blank"
              >Alicia Garnier</a
            >.
          </p>
          <a
            href="https://github.com/otaviofbrito/Network-Simulation"
            >GitHub</a
          >
        </footer>
      </div>
    </div>
  </body>
</html>
